@import "../styles/variable";
@mixin darkBtn {
    border-radius: 5px;
    background: $bg-3;
    padding: 0.938rem 1.563rem;
    color: $bg-white;
    font-weight: 700;
    display: inline-block;
    &:hover {
        background: $bg-1;
    }
}

@mixin orangeBtn {
    border-radius: 5px;
    background: $bg-1;
    padding: 0.938rem 1.563rem;
    color: $bg-white;
    font-weight: 700;
    display: inline-block;
    &:hover {
        background: $bg-3;
    }
}

@mixin whiteBtn {
    border-radius: 5px;
    background: $bg-white;
    padding: 0.938rem 1.563rem;
    color: $bg-3;
    font-weight: 700;
    display: inline-block;
    &:hover {
        background: $bg-1;
        color: $bg-white;
    }
}
