$bg-1: #ff7900;
$bg-2: #024c90;
$bg-3: #0a2540;
$bg-4: #425466;
$bg-5: #3a3a3a;
$bg-6: #8a6a9b;
$bg-7: #8a6a9b;
$bg-8: #ed2d56;
$bg-9: #c2eec2;
$bg-10: #025b02;
$bg-11: #f4fbfd;
$bg-12: #425466;
$bg-blue: #4ebbf9;
$bg-white: #fff;
$black: #000;
$light-green: #ecf4fc;
$off-white: #e7ecf1;
$red: #aa0000;
